@font-face {
  font-family: 'entypo';
  src:  url('../fonts/entypo.eot?d2mxpk');
  src:  url('../fonts/entypo.eot?d2mxpk#iefix') format('embedded-opentype'),
    url('../fonts/entypo.ttf?d2mxpk') format('truetype'),
    url('../fonts/entypo.woff?d2mxpk') format('woff'),
    url('../fonts/entypo.svg?d2mxpk#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-icon {
    font-family: 'entypo'!important;
}
[class^="fonticon-"], [class*=" fonticon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'entypo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fonticon-add-to-list:before {
  content: "\e900";
}
.fonticon-arrow-bold-down:before {
  content: "\e901";
}
.fonticon-arrow-bold-left:before {
  content: "\e902";
}
.fonticon-arrow-bold-right:before {
  content: "\e903";
}
.fonticon-arrow-bold-up:before {
  content: "\e904";
}
.fonticon-arrow-down:before {
  content: "\e905";
}
.fonticon-arrow-left:before {
  content: "\e906";
}
.fonticon-arrow-long-down:before {
  content: "\e907";
}
.fonticon-arrow-long-left:before {
  content: "\e908";
}
.fonticon-arrow-long-right:before {
  content: "\e909";
}
.fonticon-arrow-long-up:before {
  content: "\e90a";
}
.fonticon-arrow-right:before {
  content: "\e90b";
}
.fonticon-arrow-up:before {
  content: "\e90c";
}
.fonticon-arrow-with-circle-down:before {
  content: "\e90d";
}
.fonticon-arrow-with-circle-left:before {
  content: "\e90e";
}
.fonticon-arrow-with-circle-right:before {
  content: "\e90f";
}
.fonticon-arrow-with-circle-up:before {
  content: "\e910";
}
.fonticon-bug:before {
  content: "\e911";
}
.fonticon-chevron-down:before {
  content: "\e912";
}
.fonticon-chevron-left:before {
  content: "\e913";
}
.fonticon-chevron-right:before {
  content: "\e914";
}
.fonticon-chevron-small-down:before {
  content: "\e915";
}
.fonticon-chevron-small-left:before {
  content: "\e916";
}
.fonticon-chevron-small-right:before {
  content: "\e917";
}
.fonticon-chevron-small-up:before {
  content: "\e918";
}
.fonticon-chevron-thin-down:before {
  content: "\e919";
}
.fonticon-chevron-thin-left:before {
  content: "\e91a";
}
.fonticon-chevron-thin-right:before {
  content: "\e91b";
}
.fonticon-chevron-thin-up:before {
  content: "\e91c";
}
.fonticon-chevron-up:before {
  content: "\e91d";
}
.fonticon-chevron-with-circle-down:before {
  content: "\e91e";
}
.fonticon-chevron-with-circle-left:before {
  content: "\e91f";
}
.fonticon-chevron-with-circle-right:before {
  content: "\e920";
}
.fonticon-chevron-with-circle-up:before {
  content: "\e921";
}
.fonticon-classic-computer:before {
  content: "\e922";
}
.fonticon-controller-fast-backward:before {
  content: "\e923";
}
.fonticon-creative-commons-attribution:before {
  content: "\e924";
}
.fonticon-creative-commons-noderivs:before {
  content: "\e925";
}
.fonticon-creative-commons-noncommercial-eu:before {
  content: "\e926";
}
.fonticon-creative-commons-noncommercial-us:before {
  content: "\e927";
}
.fonticon-creative-commons-public-domain:before {
  content: "\e928";
}
.fonticon-creative-commons-remix:before {
  content: "\e929";
}
.fonticon-creative-commons-share:before {
  content: "\e92a";
}
.fonticon-creative-commons-sharealike:before {
  content: "\e92b";
}
.fonticon-creative-commons:before {
  content: "\e92c";
}
.fonticon-crop:before {
  content: "\e92d";
}
.fonticon-document-landscape:before {
  content: "\e92e";
}
.fonticon-dot-single:before {
  content: "\e92f";
}
.fonticon-dots-three-horizontal:before {
  content: "\e930";
}
.fonticon-dots-three-vertical:before {
  content: "\e931";
}
.fonticon-dots-two-horizontal:before {
  content: "\e932";
}
.fonticon-dots-two-vertical:before {
  content: "\e933";
}
.fonticon-eye-with-line:before {
  content: "\e934";
}
.fonticon-fingerprint:before {
  content: "\e935";
}
.fonticon-flower:before {
  content: "\e936";
}
.fonticon-merge:before {
  content: "\e937";
}
.fonticon-mouse-pointer:before {
  content: "\e938";
}
.fonticon-newsletter:before {
  content: "\e939";
}
.fonticon-notifications-off:before {
  content: "\e93a";
}
.fonticon-remove-user:before {
  content: "\e93b";
}
.fonticon-select-arrows:before {
  content: "\e93c";
}
.fonticon-tablet-mobile-combo:before {
  content: "\e93d";
}
.fonticon-triangle-down:before {
  content: "\e93e";
}
.fonticon-triangle-left:before {
  content: "\e93f";
}
.fonticon-triangle-right:before {
  content: "\e940";
}
.fonticon-triangle-up:before {
  content: "\e941";
}
.fonticon-video-camera:before {
  content: "\e942";
}
.fonticon-warning:before {
  content: "\e943";
}
.fonticon-add-user:before {
  content: "\e944";
}
.fonticon-address:before {
  content: "\e945";
}
.fonticon-adjust:before {
  content: "\e946";
}
.fonticon-air:before {
  content: "\e947";
}
.fonticon-aircraft-landing:before {
  content: "\e948";
}
.fonticon-aircraft-take-off:before {
  content: "\e949";
}
.fonticon-aircraft:before {
  content: "\e94a";
}
.fonticon-align-bottom:before {
  content: "\e94b";
}
.fonticon-align-horizontal-middle:before {
  content: "\e94c";
}
.fonticon-align-left:before {
  content: "\e94d";
}
.fonticon-align-right:before {
  content: "\e94e";
}
.fonticon-align-top:before {
  content: "\e94f";
}
.fonticon-align-vertical-middle:before {
  content: "\e950";
}
.fonticon-archive:before {
  content: "\e951";
}
.fonticon-area-graph:before {
  content: "\e952";
}
.fonticon-attachment:before {
  content: "\e953";
}
.fonticon-awareness-ribbon:before {
  content: "\e954";
}
.fonticon-back-in-time:before {
  content: "\e955";
}
.fonticon-back:before {
  content: "\e956";
}
.fonticon-bar-graph:before {
  content: "\e957";
}
.fonticon-battery:before {
  content: "\e958";
}
.fonticon-beamed-note:before {
  content: "\e959";
}
.fonticon-bell:before {
  content: "\e95a";
}
.fonticon-blackboard:before {
  content: "\e95b";
}
.fonticon-block:before {
  content: "\e95c";
}
.fonticon-book:before {
  content: "\e95d";
}
.fonticon-bookmark:before {
  content: "\e95e";
}
.fonticon-bookmarks:before {
  content: "\e95f";
}
.fonticon-bowl:before {
  content: "\e960";
}
.fonticon-box:before {
  content: "\e961";
}
.fonticon-briefcase:before {
  content: "\e962";
}
.fonticon-browser:before {
  content: "\e963";
}
.fonticon-brush:before {
  content: "\e964";
}
.fonticon-bucket:before {
  content: "\e965";
}
.fonticon-cake:before {
  content: "\e966";
}
.fonticon-calculator:before {
  content: "\e967";
}
.fonticon-calendar:before {
  content: "\e968";
}
.fonticon-camera:before {
  content: "\e969";
}
.fonticon-ccw:before {
  content: "\e96a";
}
.fonticon-chat:before {
  content: "\e96b";
}
.fonticon-check:before {
  content: "\e96c";
}
.fonticon-circle-with-cross:before {
  content: "\e96d";
}
.fonticon-circle-with-minus:before {
  content: "\e96e";
}
.fonticon-circle-with-plus:before {
  content: "\e96f";
}
.fonticon-circle:before {
  content: "\e970";
}
.fonticon-circular-graph:before {
  content: "\e971";
}
.fonticon-clapperboard:before {
  content: "\e972";
}
.fonticon-clipboard:before {
  content: "\e973";
}
.fonticon-clock:before {
  content: "\e974";
}
.fonticon-cloud:before {
  content: "\e975";
}
.fonticon-code:before {
  content: "\e976";
}
.fonticon-cog:before {
  content: "\e977";
}
.fonticon-colours:before {
  content: "\e978";
}
.fonticon-compass:before {
  content: "\e979";
}
.fonticon-controller-fast-forward:before {
  content: "\e97a";
}
.fonticon-controller-jump-to-start:before {
  content: "\e97b";
}
.fonticon-controller-next:before {
  content: "\e97c";
}
.fonticon-controller-paus:before {
  content: "\e97d";
}
.fonticon-controller-play:before {
  content: "\e97e";
}
.fonticon-controller-record:before {
  content: "\e97f";
}
.fonticon-controller-stop:before {
  content: "\e980";
}
.fonticon-controller-volume:before {
  content: "\e981";
}
.fonticon-copy:before {
  content: "\e982";
}
.fonticon-credit-card:before {
  content: "\e983";
}
.fonticon-credit:before {
  content: "\e984";
}
.fonticon-cross:before {
  content: "\e985";
}
.fonticon-cup:before {
  content: "\e986";
}
.fonticon-cw:before {
  content: "\e987";
}
.fonticon-cycle:before {
  content: "\e988";
}
.fonticon-database:before {
  content: "\e989";
}
.fonticon-dial-pad:before {
  content: "\e98a";
}
.fonticon-direction:before {
  content: "\e98b";
}
.fonticon-document:before {
  content: "\e98c";
}
.fonticon-documents:before {
  content: "\e98d";
}
.fonticon-download:before {
  content: "\e98e";
}
.fonticon-drink:before {
  content: "\e98f";
}
.fonticon-drive:before {
  content: "\e990";
}
.fonticon-drop:before {
  content: "\e991";
}
.fonticon-edit:before {
  content: "\e992";
}
.fonticon-email:before {
  content: "\e993";
}
.fonticon-emoji-flirt:before {
  content: "\e994";
}
.fonticon-emoji-happy:before {
  content: "\e995";
}
.fonticon-emoji-neutral:before {
  content: "\e996";
}
.fonticon-emoji-sad:before {
  content: "\e997";
}
.fonticon-erase:before {
  content: "\e998";
}
.fonticon-eraser:before {
  content: "\e999";
}
.fonticon-export:before {
  content: "\e99a";
}
.fonticon-eye:before {
  content: "\e99b";
}
.fonticon-feather:before {
  content: "\e99c";
}
.fonticon-flag:before {
  content: "\e99d";
}
.fonticon-flash:before {
  content: "\e99e";
}
.fonticon-flashlight:before {
  content: "\e99f";
}
.fonticon-flat-brush:before {
  content: "\e9a0";
}
.fonticon-flow-branch:before {
  content: "\e9a1";
}
.fonticon-flow-cascade:before {
  content: "\e9a2";
}
.fonticon-flow-line:before {
  content: "\e9a3";
}
.fonticon-flow-parallel:before {
  content: "\e9a4";
}
.fonticon-flow-tree:before {
  content: "\e9a5";
}
.fonticon-folder-images:before {
  content: "\e9a6";
}
.fonticon-folder-music:before {
  content: "\e9a7";
}
.fonticon-folder-video:before {
  content: "\e9a8";
}
.fonticon-folder:before {
  content: "\e9a9";
}
.fonticon-forward:before {
  content: "\e9aa";
}
.fonticon-funnel:before {
  content: "\e9ab";
}
.fonticon-game-controller:before {
  content: "\e9ac";
}
.fonticon-gauge:before {
  content: "\e9ad";
}
.fonticon-globe:before {
  content: "\e9ae";
}
.fonticon-graduation-cap:before {
  content: "\e9af";
}
.fonticon-grid:before {
  content: "\e9b0";
}
.fonticon-hair-cross:before {
  content: "\e9b1";
}
.fonticon-hand:before {
  content: "\e9b2";
}
.fonticon-heart-outlined:before {
  content: "\e9b3";
}
.fonticon-heart:before {
  content: "\e9b4";
}
.fonticon-help-with-circle:before {
  content: "\e9b5";
}
.fonticon-help:before {
  content: "\e9b6";
}
.fonticon-home:before {
  content: "\e9b7";
}
.fonticon-hour-glass:before {
  content: "\e9b8";
}
.fonticon-image-inverted:before {
  content: "\e9b9";
}
.fonticon-image:before {
  content: "\e9ba";
}
.fonticon-images:before {
  content: "\e9bb";
}
.fonticon-inbox:before {
  content: "\e9bc";
}
.fonticon-infinity:before {
  content: "\e9bd";
}
.fonticon-info-with-circle:before {
  content: "\e9be";
}
.fonticon-info:before {
  content: "\e9bf";
}
.fonticon-install:before {
  content: "\e9c0";
}
.fonticon-key:before {
  content: "\e9c1";
}
.fonticon-keyboard:before {
  content: "\e9c2";
}
.fonticon-lab-flask:before {
  content: "\e9c3";
}
.fonticon-landline:before {
  content: "\e9c4";
}
.fonticon-language:before {
  content: "\e9c5";
}
.fonticon-laptop:before {
  content: "\e9c6";
}
.fonticon-layers:before {
  content: "\e9c7";
}
.fonticon-leaf:before {
  content: "\e9c8";
}
.fonticon-level-down:before {
  content: "\e9c9";
}
.fonticon-level-up:before {
  content: "\e9ca";
}
.fonticon-lifebuoy:before {
  content: "\e9cb";
}
.fonticon-light-bulb:before {
  content: "\e9cc";
}
.fonticon-light-down:before {
  content: "\e9cd";
}
.fonticon-light-up:before {
  content: "\e9ce";
}
.fonticon-line-graph:before {
  content: "\e9cf";
}
.fonticon-link:before {
  content: "\e9d0";
}
.fonticon-list:before {
  content: "\e9d1";
}
.fonticon-location-pin:before {
  content: "\e9d2";
}
.fonticon-location:before {
  content: "\e9d3";
}
.fonticon-lock-open:before {
  content: "\e9d4";
}
.fonticon-lock:before {
  content: "\e9d5";
}
.fonticon-log-out:before {
  content: "\e9d6";
}
.fonticon-login:before {
  content: "\e9d7";
}
.fonticon-loop:before {
  content: "\e9d8";
}
.fonticon-magnet:before {
  content: "\e9d9";
}
.fonticon-magnifying-glass:before {
  content: "\e9da";
}
.fonticon-mail:before {
  content: "\e9db";
}
.fonticon-man:before {
  content: "\e9dc";
}
.fonticon-map:before {
  content: "\e9dd";
}
.fonticon-mask:before {
  content: "\e9de";
}
.fonticon-medal:before {
  content: "\e9df";
}
.fonticon-megaphone:before {
  content: "\e9e0";
}
.fonticon-menu:before {
  content: "\e9e1";
}
.fonticon-message:before {
  content: "\e9e2";
}
.fonticon-mic:before {
  content: "\e9e3";
}
.fonticon-minus:before {
  content: "\e9e4";
}
.fonticon-mobile:before {
  content: "\e9e5";
}
.fonticon-modern-mic:before {
  content: "\e9e6";
}
.fonticon-moon:before {
  content: "\e9e7";
}
.fonticon-mouse:before {
  content: "\e9e8";
}
.fonticon-music:before {
  content: "\e9e9";
}
.fonticon-network:before {
  content: "\e9ea";
}
.fonticon-new-message:before {
  content: "\e9eb";
}
.fonticon-new:before {
  content: "\e9ec";
}
.fonticon-news:before {
  content: "\e9ed";
}
.fonticon-note:before {
  content: "\e9ee";
}
.fonticon-notification:before {
  content: "\e9ef";
}
.fonticon-old-mobile:before {
  content: "\e9f0";
}
.fonticon-old-phone:before {
  content: "\e9f1";
}
.fonticon-open-book:before {
  content: "\e9f2";
}
.fonticon-palette:before {
  content: "\e9f3";
}
.fonticon-paper-plane:before {
  content: "\e9f4";
}
.fonticon-pencil:before {
  content: "\e9f5";
}
.fonticon-phone:before {
  content: "\e9f6";
}
.fonticon-pie-chart:before {
  content: "\e9f7";
}
.fonticon-pin:before {
  content: "\e9f8";
}
.fonticon-plus:before {
  content: "\e9f9";
}
.fonticon-popup:before {
  content: "\e9fa";
}
.fonticon-power-plug:before {
  content: "\e9fb";
}
.fonticon-price-ribbon:before {
  content: "\e9fc";
}
.fonticon-price-tag:before {
  content: "\e9fd";
}
.fonticon-print:before {
  content: "\e9fe";
}
.fonticon-progress-empty:before {
  content: "\e9ff";
}
.fonticon-progress-full:before {
  content: "\ea00";
}
.fonticon-progress-one:before {
  content: "\ea01";
}
.fonticon-progress-two:before {
  content: "\ea02";
}
.fonticon-publish:before {
  content: "\ea03";
}
.fonticon-quote:before {
  content: "\ea04";
}
.fonticon-radio:before {
  content: "\ea05";
}
.fonticon-reply-all:before {
  content: "\ea06";
}
.fonticon-reply:before {
  content: "\ea07";
}
.fonticon-resize-100%:before {
  content: "\ea08";
}
.fonticon-resize-full-screen:before {
  content: "\ea09";
}
.fonticon-retweet:before {
  content: "\ea0a";
}
.fonticon-rocket:before {
  content: "\ea0b";
}
.fonticon-round-brush:before {
  content: "\ea0c";
}
.fonticon-rss:before {
  content: "\ea0d";
}
.fonticon-ruler:before {
  content: "\ea0e";
}
.fonticon-save:before {
  content: "\ea0f";
}
.fonticon-scissors:before {
  content: "\ea10";
}
.fonticon-share-alternative:before {
  content: "\ea11";
}
.fonticon-share:before {
  content: "\ea12";
}
.fonticon-shareable:before {
  content: "\ea13";
}
.fonticon-shield:before {
  content: "\ea14";
}
.fonticon-shop:before {
  content: "\ea15";
}
.fonticon-shopping-bag:before {
  content: "\ea16";
}
.fonticon-shopping-basket:before {
  content: "\ea17";
}
.fonticon-shopping-cart:before {
  content: "\ea18";
}
.fonticon-shuffle:before {
  content: "\ea19";
}
.fonticon-signal:before {
  content: "\ea1a";
}
.fonticon-sound-mix:before {
  content: "\ea1b";
}
.fonticon-sound-mute:before {
  content: "\ea1c";
}
.fonticon-sound:before {
  content: "\ea1d";
}
.fonticon-sports-club:before {
  content: "\ea1e";
}
.fonticon-spreadsheet:before {
  content: "\ea1f";
}
.fonticon-squared-cross:before {
  content: "\ea20";
}
.fonticon-squared-minus:before {
  content: "\ea21";
}
.fonticon-squared-plus:before {
  content: "\ea22";
}
.fonticon-star-outlined:before {
  content: "\ea23";
}
.fonticon-star:before {
  content: "\ea24";
}
.fonticon-stopwatch:before {
  content: "\ea25";
}
.fonticon-suitcase:before {
  content: "\ea26";
}
.fonticon-swap:before {
  content: "\ea27";
}
.fonticon-sweden:before {
  content: "\ea28";
}
.fonticon-switch:before {
  content: "\ea29";
}
.fonticon-tablet:before {
  content: "\ea2a";
}
.fonticon-tag:before {
  content: "\ea2b";
}
.fonticon-text-document-inverted:before {
  content: "\ea2c";
}
.fonticon-text-document:before {
  content: "\ea2d";
}
.fonticon-text:before {
  content: "\ea2e";
}
.fonticon-thermometer:before {
  content: "\ea2f";
}
.fonticon-thumbs-down:before {
  content: "\ea30";
}
.fonticon-thumbs-up:before {
  content: "\ea31";
}
.fonticon-thunder-cloud:before {
  content: "\ea32";
}
.fonticon-ticket:before {
  content: "\ea33";
}
.fonticon-time-slot:before {
  content: "\ea34";
}
.fonticon-tools:before {
  content: "\ea35";
}
.fonticon-traffic-cone:before {
  content: "\ea36";
}
.fonticon-trash:before {
  content: "\ea37";
}
.fonticon-tree:before {
  content: "\ea38";
}
.fonticon-trophy:before {
  content: "\ea39";
}
.fonticon-tv:before {
  content: "\ea3a";
}
.fonticon-typing:before {
  content: "\ea3b";
}
.fonticon-uninstall:before {
  content: "\ea3c";
}
.fonticon-unread:before {
  content: "\ea3d";
}
.fonticon-untag:before {
  content: "\ea3e";
}
.fonticon-upload-to-cloud:before {
  content: "\ea3f";
}
.fonticon-upload:before {
  content: "\ea40";
}
.fonticon-user:before {
  content: "\ea41";
}
.fonticon-users:before {
  content: "\ea42";
}
.fonticon-v-card:before {
  content: "\ea43";
}
.fonticon-video:before {
  content: "\ea44";
}
.fonticon-vinyl:before {
  content: "\ea45";
}
.fonticon-voicemail:before {
  content: "\ea46";
}
.fonticon-wallet:before {
  content: "\ea47";
}
.fonticon-water:before {
  content: "\ea48";
}

