<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

#allows a single uri through the .htaccess password protection
# SetEnvIf Request_URI "(/public/RentUser)$" allow
# SetEnvIf Request_URI "(/public/ShareUser)$" allow
# SetEnvIf Request_URI "(/public/lp/.*)$" allow
# SetEnvIf Request_URI "(/public/lpnew/.*)$" allow
# SetEnvIf Request_URI "(/public/livechat/.*)$" allow
# SetEnvIf Request_URI "(/ShareUser/Dashboard/processBookingPaymentAuto)$" allow
# SetEnvIf Request_URI "(/public/PrivacyPolicy)$" allow
# SetEnvIf Request_URI "(/GetUserNotifications)$" allow


# Order Deny,Allow
# AuthName "Restricted Area"
# AuthType Basic
# AuthUserFile /home/coreworking/houroffice.jp/public_html/public/.htpasswd
# AuthGroupFile /dev/null 
# Require valid-user

#Allow valid-user
# Deny from all
# Allow from env=allow
# Satisfy any

<FilesMatch "\.(woff2|woff|ttf|svg|js|ico|gif|jpeg|jpg|png|css|htc|xml|txt|mp3|mp4|pdf|html)$">
  Satisfy Any
  Allow from all
</FilesMatch>

# Redirect 301 "/public/lp/public/RentUser" /RentUser
# Redirect 301 "/public/lp/public" /ShareUser


